body{
  margin: 0
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  font-family: Verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  z-index: 5;
}

.main-title{
  margin-left: 15px;
  flex-grow: 1;
}

.main-title h1{
  font-family: Verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;
}

.header-nav li{
  list-style: none;
  display: inline-block;
  margin: 0 7px;
}

.header-nav li a{
  color: black;
}

/* end header */

/* main content begins*/

.main-container{
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 80px;
}

.column{
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* Large Column Begins */

.main-story{
  width: 600px;
  margin: 1em;
}

.column.large{
  height: auto;
  width: 630px;
  margin-left: 20px;
}

.story-image-headline.Phish{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  height: 300px;
  align-items: center;
  width: 630px;
}

.story-image-headline.Phish h2{
  display: inline-block;
  font-size: 40px;
  padding-left: 20px;
}

h2{
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

h3{
  font-family: Georgia
  font-size: 17px;
  font-weight: normal;
}

.story-text{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  font-weight: lighter;
}

.sub-story-container{
  width: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}

.sub-story-column{
  width: 300px;
  margin: 1em;
  display: inline-block;
}

.story-no-image h2{
  color: black;
}

.story-image.Earth{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
  width: 300px;
}

.story-image-headline.Earth{
  display: flex;
  text-align: center;
  align-items: center;
}

.story-image-headline.Camera{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  width: 300px;
  text-align: center;
}

/* Large Column ends */

.column.medium{
  height: auto;;
  width: 300px;
}

.story-image-headline.Cat{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-image-headline.Cat h2{
  text-align: center;
}

/*Medium column ends */

.column.small{
  height: auto;
  width: 240px;
}

.column.small img{
  height: 200px;
}

.news-bites{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.news-bites h3{
  text-align: center;
  font-weight: bold;
}

.news-bites p{
  display: flex;
  margin: 0;
  font-family: Verdana;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  color: dimgrey;
  padding: 11px 20px;
}

/*Small Column ends*/
